.places__paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 auto;    
}

@media (max-width: 1024px){
    .places__paragraph{
        max-width: 456px;
        margin-right: 48px;
       
    }
}

@media (max-width: 860px){
    .places__paragraph{
        margin-right: 24px;
        margin-left: 0;
    }
}

@media (max-width: 768px){
    .places__paragraph{
        font-size: 16px;
        max-width: 352px;
    }
}

@media (max-width: 720px){
    .places__paragraph{
        margin-right: 0;
    }
}
