.photo-grid__list{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 12px;
    grid-gap: 16px 16px;
    margin: 0;
}

@media (max-width: 1024px){
    .photo-grid__list{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 14px 14px;
    }
   
}
@media (max-width: 768px){
    .photo-grid__list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 16px 16px;
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 15px;
    }
   
}

@media (max-width: 506px){
    .photo-grid__list{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-gap: 12px 12px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 14px;
    }
   
}
