
.photo-grid__img{
    background-size: cover;
    width:100%;
    max-width: 352px;
    max-height: 213px;
}

@media (max-width: 1024px){
    .photo-grid__img{
        max-height: 225px;
    }
}
@media (max-width: 768px){
    .photo-grid__img{
        max-height: 264px;
    }
   
}
@media (max-width: 320px){
    .photo-grid__img{
        max-height: 216px;
    }
}