
.places{
    max-width: 984px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    color: #FFF;
}

@media (max-width: 1024px){
    .places{
        max-width: 928px;
        width: calc(100% - 48px*2);
    }
}

@media (max-width: 768px){
    .places{
       max-width: 720px;
       width: calc(100% - 24px*2);
    }
}

@media (max-width: 414px){
    .places{
        max-width: 414px;
        width: 100%;
    }
}
@media (max-width: 320px){
    .places{
        max-width: 320px;
    }
}