.intro__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 33px;
    margin-bottom: 92px;
    color: #FFFFFF;
}

@media (max-width: 768px){
    .intro__list{
        margin-bottom: 88px;
    }
}

@media (max-width: 320px){
    .intro__list{
        margin-top: 34px;
        margin-bottom: 64px;
    }
}