.places__title{
    grid-area: title;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 110%;
    margin-bottom: 48px;
    margin-top: 80px;
}


@media (max-width: 1000px) {
    .places__title {
        font-size: 50px;
    }
}

@media (max-width: 768px){
    .places__title{
        font-size: 42px;
        line-height: 46px;
        margin-top: 73px;
        max-width: 340px;
        margin-left: 24px;
    }
}

@media (max-width: 750px) {
    .places__title {
        margin-top: 64px;
        margin-left: 0;
        font-size: 35px;
        margin-left: 32px;
    }
}

@media (max-width: 320px){
    .places__title{
        font-size: 32px;
        line-height: 35px;
        margin-top: 50px;
        margin-left: 16px;
        max-width: 320px;
    }
}