
.places__paragraphs{
    grid-area: text;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    margin: 0 0 0 40px;
    max-width: 484px;
    
}

@media (max-width: 1024px){
    .places__paragraphs{
        margin-left: 38px;
        max-width: 456px;
    }
}

@media (max-width: 800px){
    .places__paragraphs{
        margin-left: 28px;
    }
}
@media (max-width: 768px){
    .places__paragraphs{
        margin-left: 28px;
        gap: 25px;
        max-width: 352px;
    }
}

@media (max-width: 650px) {
    .places__paragraphs{
        margin-left: 0;
        margin-top: 32px;
    }
}

@media (max-width: 320px){
    .places__paragraphs{
        max-width: 288px;
        margin: 32px 16px 0 16px;
    }
}