.footer__copyright {
    font-style: normal;
    flex-wrap: nowrap;
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    align-items: flex-end;
    margin: 0;
    
}

@media (max-width: 320px){
    .footer__copyright {
        flex-direction: column;
        margin-top: 48px;
        margin-left: 16px;
        
    }
}