.lead__subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    color: #FFF;
    margin: 32px 0 64px;
    text-align: center;
    align-self: center;
    position: relative;
    max-width: 640px;
}


@media (max-width: 1024px){
    .lead__subtitle{
        margin-bottom: 56px;
    }
}

@media (max-width: 768px){
    .lead__subtitle{
        max-width: 500px;
        margin-left: 64px;
        margin-right: 64px;
    }
}
@media (max-width: 700px){
    .lead__subtitle{
        font-size: 20px;
    }
}

@media (max-width: 414px){
    .lead__subtitle{
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 320px){
    .lead__subtitle{
        font-size: 16px;
        line-height: 20px;
        margin: 0 16px 40px 16px;
    }
   
}
