.cover{
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    background-image: url(../../images/cover-trains.jpg);
    box-sizing: border-box;
    background-size: cover;
    margin: 0 auto;
    z-index: 1;
    min-height: 740px;
    max-width: 1184px;
    margin-top: 92px;
   }

@media (max-width: 1024px){
    .cover{
        min-height: 640px;
    }
}

@media (max-width: 768px){
    .cover{
        min-height: 480px;
        margin-top: 90px;
    }
   
}

@media (max-width: 414px){
    .cover{
        margin-top: 66px;
        min-height: 300px;
    }
   
}

@media (max-width: 320px){
    .cover{
        
        min-height: 200px;
    }
}





   

