.cover{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin: 0 auto;
    z-index: 0;
    height: 740px;
    width: calc(100% - (48px * 2));
    margin-top: 92px;

}

@media (max-width: 1024px){
    .cover{
        width: 100%;
    }
}
@media (max-width: 1024px){
    .cover{
       height: 640px;
    }
   
}
@media (max-width: 768px){
    .cover{
        height: 480px; 
        margin-top: 90px;
    }
   
}

@media (max-width: 320px){
    .cover{
        margin-top: 66px;
        height: 200px;
    }
}





   

