
.cover__background{
    margin: 0 auto;
    max-height: 100%;
    z-index: 0;
    align-self: center;
    justify-self: center;
    box-sizing: border-box;
    background-size: cover;
}

@media (max-width: 1024px){
    .cover__background{
       max-height: 640px;
    }
   
}
@media (max-width: 768px){
    .cover__background{
        max-height: 480px; 
    }
   
}

@media (max-width: 320px){
    .cover__background{
        max-height: 200px;
    }
}