
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 24px;
    width: calc(100% - 48px*2);
}
@media (max-width: 768px){
    .footer{
        width: calc(100% - 24px*2);
    }
}

@media (max-width: 677px) {
    .footer{
        flex-direction: column;
    }
}


@media (max-width: 320px){
    .footer{
        margin-top: 64px;
        margin-left: 0;
        padding: 0 0 24px 0;
    }
}