
.places__website{
    grid-area: website;
    font-style: normal;
    justify-self: start;
    align-self: flex-start;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-left: 40px;
    margin-bottom: 48px;  
}

.places__website:hover{
    opacity: 0.8;
}

@media (max-width: 1024px){
    .places__website{
        margin-left: 38px;
    }
}
@media (max-width: 768px){
    .places__website{
        margin-left: 28px;
       
    }
}

@media (max-width: 720px) {
    .places__website { 
        margin-left: 0;
    }
}
@media (max-width: 650px) {
    .places__website{
        margin-bottom: 32px; 
        margin-left: 16px;     
    }
}

@media (max-width: 320px){
    .places__website{
        margin: 0 16px 32px 16px;
    }
}