
.places__website{
    grid-area: website;
    font-style: normal;
    justify-self: start;
    align-self: flex-start;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.places__website:hover{
    opacity: 0.8;
}

@media (max-width: 1000px){
    .places__website{
        margin-left: 0;
    }
}

@media (max-width: 750px) {
    .places__website { 
        margin-left: 0;
    }
}

@media (max-width: 490px){
    .places__website{
        margin: 0 16px;
    }
}