
.places__url-heading{
    grid-area: heading;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin-bottom: 12px;
    margin-top: 0;
    text-transform: uppercase;
    width: 100%;
    max-width: 221px;
}

@media (max-width: 1000px){
    .places__url-heading{
        margin-left: 0;
    }
}

@media (max-width: 768px){
    .places__url-heading{
        line-height: 12px;
        margin-left: 28px;
        
    }
}

@media (max-width: 750px) {
    .places__url-heading { 
        margin-left: 0;
    }
}

@media (max-width: 490px) {
    .places__url-heading {
        margin-left: 16px;
    }
}

