.places__item{
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-areas:
        "title heading"
        ". website"
        "image text";
}

@media (max-width: 1000px){
    .places__item{
        grid-template-columns: 430px 1fr;
    }
}

@media (max-width: 1080px){
    .places__item{
        grid-template-columns: 440px 1fr;
    }
}

@media (max-width: 800px){
    .places__item{
        grid-template-columns: 370px 1fr;
    }
}

@media (max-width: 768px){
    .places__item{
        grid-template-columns: 340px 1fr; 
    }
}
@media (max-width: 650px) {
    .places__item{
        grid-template-columns: 506px;
        grid-template-areas:
        "title"
        "heading"
        "website"
        "image" 
        "text";
    }
}

@media (max-width: 320px){
    .places__item{
        grid-template-columns: 320px;
        width: 100%;

    }
   
}